<div class="top-nav">
  <nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
    <div class="container">
      <h2><%= link_to 'TIM Release Notes', release_notes_path %></h2>

      <div class="nav-h">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to new_release_note_path do %>
                <i class="fas fa-plus-circle" title="Create Release Note"></i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, :method => :delete do %>
                <i class="fas fa-sign-out-alt" title="Sign Out"></i>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt" title="Sign In"></i>
              <% end %>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>
</div>